
<ul class="border-2 border-[#ffc244] my-5 w-auto h-auto p-5 rounded-lg mx-12">
    <a href="#to" class="">
        <li class="py-3 text-white border-b-2 border-[#ffc244] hover:bg-gray-50 hover:rounded-lg hover:text-black hover:px-3 hover:border-none">
            <div class="flex items-center space-x-4">
               <div class="flex-shrink-0">
                  <img class="w-12 h-12 rounded-full" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="Neil image">
               </div>
               <div class="flex-1 min-w-0">
                  <p class="text-lg font-medium truncate">
                     Neil Sims
                  </p>
               </div>
            </div>
         </li>
    </a>

 </ul>
 