<div *ngIf="(contact | json) != '{}'" class="">
    <div *ngIf="isLoading" class="flex justify-center my-auto mx-auto items-center mt-48">
        <div role="status">
            <svg aria-hidden="true" class="w-20 h-20 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#ff9800]" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <form name="form"
    (ngSubmit)="f.form.valid && onSubmit(contact.id)"
    #f="ngForm"
    novalidate [ngClass]="isLoading ? 'hidden' : 'block'">
    <div class="p-6 flex flex-row justify-between items-center border-b-4 border-grey-50 mb-9">
        <div>
            <button type="submit" class="btn bg-green-600 btn-sm">Update</button>
            <button (click)="onDelete(contact.id)" class="btn bg-red-600 btn-sm ml-4">Delete</button>
        </div>

        <div class="hidden lg:block text-2xl font-bold">
            {{ contact.phone }}
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           NAME 
        </h2>

        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-5">
            <p class="lg:ml-20">First Name: <input class="text-white w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" [(ngModel)]="form.first_name" required minlength="3" #first_name="ngModel"  name="first_name" value="{{ contact.first_name }}"></p>
            <p class="lg:mr-20">Last Name: <input [(ngModel)]="form.last_name" minlength="3" #last_name="ngModel" class="text-white w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="last_name" value="{{ contact.last_name }}"></p>
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           Contacts 
        </h2>

        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-5">
            <p class="lg:ml-20">Mobile: <input [(ngModel)]="form.phone" #phone="ngModel" required class="text-white  w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="number" name="phone" value="{{ contact.phone }}"></p>
            <p class="lg:mr-20">email: <input [(ngModel)]="form.email" #email="ngModel" class="text-white  w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="email" name="email" value="{{ contact.email }}"></p>
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           Additional Details 
        </h2>

        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-5">
            <p class="lg:ml-20">Address: <input [(ngModel)]="form.address" #address="ngModel" class="text-white  w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="address" value="{{ contact.address }}"></p>
            <p class="lg:mr-20">Location: <input [(ngModel)]="form.city" #city="ngModel" class="text-white  w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="city" value="{{ contact.city }}"></p>
        </div>

        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-5">
            <p class="lg:ml-20">Date of birth: <input [(ngModel)]="form.custom_date" #custom_date="ngModel" class="text-white  w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="date" name="custom_date" value="{{ contact.custom_date }}"></p>
            <p class="lg:mr-20">Relationship: <input [(ngModel)]="form.relationship" #relationship="ngModel" class="text-white lg:w-auto w-full text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="relationship" value="{{ contact.relationship }}"></p>
        </div>

    </div>
    </form>
</div>

<div *ngIf="(contact | json) == '{}'" class="flex justify-center items-center mt-20">
    <h1 class="lg:text-3xl text-2xl p-3 font-bold">Click on contact to display additional information</h1>
</div>