<div class="">
    <div class="p-6 flex flex-row justify-between items-center border-b-4 border-grey-50 mb-9">
        <div>
            <button class="btn bg-green-600 btn-sm">Update</button>
            <button class="btn bg-red-600 btn-sm ml-4">Delete</button>
        </div>

        <div class="text-2xl font-bold">
            0727 776 567
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           NAME 
        </h2>

        <div class="flex flex-row justify-between items-center mb-5">
            <p class="ml-20">First Name: Diana</p>
            <p class="mr-20">Last Name: Dee</p>
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           Contacts 
        </h2>

        <div class="flex flex-row justify-between items-center mb-5">
            <p class="ml-20">Mobile: 0722447467</p>
            <p class="mr-20">email: dee@tetz.com</p>
        </div>
    </div>

    <div class="w-full border-2 border-grey-50 p-4 rounded-lg bg-black text-white mb-7">
        <h2 class="text-2xl font-extrabold mb-3">
           Additional Details 
        </h2>

        <div class="flex flex-row justify-between items-center mb-5">
            <p class="ml-20">Address: 0722447467</p>
            <p class="mr-20">Location: dee@tetz.com</p>
        </div>

        <div class="flex flex-row justify-between items-center mb-5">
            <p class="ml-20">Date of birth: 0722447467</p>
            <p class="mr-20">Location: dee@tetz.com</p>
        </div>

        <div class="flex flex-row justify-between items-center mb-5">
            <p class="ml-20">Bio: Tetwoman walking...</p>
        </div>
    </div>
</div>