
    <div *ngIf="isLoading" class="flex justify-center my-auto mx-auto items-center mt-48">
        <div role="status">
            <svg aria-hidden="true" class="w-20 h-20 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#ff9800]" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoading" class="flex justify-center flex-col items-center lg:mt-20">
        <form name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate [ngClass]="isLoading ? 'hidden' : 'block'" class="bg-black text-white rounded-lg w-full lg:w-3/6 p-6">
        <div class="p-6 flex flex-row justify-between items-center border-b-4 border-grey-50 mb-9">
            <div>
                <button type="submit" class="btn bg-green-600 btn-md">Create Contact</button>
            </div>

            <div class="hidden lg:block lg:text-2xl lg:font-bold">
               New Contact Details
            </div>

            <div>
                <a routerLink="/">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>  
                </a>                
            </div>
        </div>

        <div class="p-3">
            <h2 class="text-2xl font-extrabold mb-3">
            Required Fields
            </h2>

            <div class="flex flex-col lg:flex-row justify-between items-center mb-5">
                <p class="">First Name: <br> <input class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" [(ngModel)]="form.first_name" required minlength="3" #first_name="ngModel"  name="first_name"></p>
                <p class="">Mobile: <br> <input [(ngModel)]="form.phone" #phone="ngModel" required class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="number" name="phone"></p>
            </div>
        </div>

            <h2 class="text-2xl font-extrabold mb-3">
            Optional Details 
            </h2>

            <div class="flex flex-col lg:flex-row justify-between items-center mb-5">
                <p class="">Last Name: <br> <input [(ngModel)]="form.last_name" minlength="3" #last_name="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="last_name" ></p>
                <p class="">email: <br> <input [(ngModel)]="form.email" #email="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="email" name="email"></p>
            </div>

            <div class="flex flex-col lg:flex-row justify-between items-center mb-5">
                <p class="">Address: <br> <input [(ngModel)]="form.address" #address="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="address"></p>
                <p class="">Location: <br> <input [(ngModel)]="form.city" #city="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="city"></p>
            </div>

            <div class="flex flex-col lg:flex-row justify-between items-center mb-5">
                <p class="">Date of birth: <br> <input [(ngModel)]="form.custom_date" #custom_date="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="date" name="custom_date"></p>
                <p class="">Relationship: <br> <input [(ngModel)]="form.relationship" #relationship="ngModel" class="text-white text-md font-bold bg-black border-2 border-[#ff9800] rounded-lg focus:ring-[#ffc244] focus:border-4 focus:border-[#ffc244]" type="text" name="relationship"></p>
            </div>

        </form>
    </div>